.video-component{
    outline: none !important;
    border: none !important;
}

.video{
    object-fit: fill !important;
}
.video-title{
    transform: translateX(-50%) translateY(-50%) !important;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif !important;
}
.video-modal{
    padding: 0 !important;
}
.modal-box{
    width: 600px;
    padding: 60px;

}
.ant-modal-content{
    background-color: transparent !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}
.stories-carousel{
    width: 100% !important;
}

.video-modal-info{
    width: 100% !important;
    height: 100% !important;
}

@media (max-width:420px) {
    
    .ant-modal-content{
        background-color: transparent !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .video-modal-info{
        width: 100% !important;
        height: 100% !important;
        align-items: center !important;
    }

    .modal-box{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        width: 350px;
        padding: 60px;
    
    }
    
}
