.posts-layout{
    width: 55% !important;
    display: flex !important;
    align-items: center !important;
    padding-top: 1.25em !important;
}
.text{
    margin-bottom: 8px !important;
}
.what-on-mind-card{
    width: 70% !important;
}

@media (max-width:420px) {

 .what-on-mind-card{
    width: 90% !important;
 }
 .posts-layout{
    width: 100% !important;
 }

}
input[type='file'] {
    display: none !important;  
}
.upload-progress{
    transition: 0.5s !important;
    margin-bottom: 9px !important;
}
/* 25em */