.your-friends-card{
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
   
    width: 205px !important;
    height: 330px !important;
    box-shadow:3px 3px 5px 1.5px lightgray !important;
    margin-right: 20px ;
    
}


.your-friends-img{
    width: 205px !important;
    height: 200px !important;
}
.see-profile-button{
    padding: 4px 45.25px !important;
    margin-top: 10px !important;
}
.your-friends-comp{
    width: 95% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    overflow-x: auto !important;
}

.your-friends-comp::-webkit-scrollbar{
    height: 2.5px !important;
}

.your-friends-comp::-webkit-scrollbar-track{
    background-color: whitesmoke !important;

}

.your-friends-comp::-webkit-scrollbar-thumb{
    background-color: #008ad3 !important;
}

@media (max-width:420px) {

    .your-friends-comp{
        width: 100% !important;
        overflow-x: auto !important;
        align-items: initial !important;
        justify-content: initial !important;
    }
    .your-friends-card{
        width: 215px !important;
        flex-shrink: 0 !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .your-friends-img{
        width: 215px !important;
    }

    .see-profile-button{
        padding: 4px 50px !important;
    }
}
