.user-info-card{
    width: 45% !important;
}

@media (max-width:420px) {
    .user-info-card{
        width: 90% !important;
        margin-top: 35px !important;
        box-shadow: 3px 3px 5px 1.5px lightgray;
    }
}