.header-layout{
    height: 9.5vh !important;
    background-color: #FFFFFF !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding-left: 2em !important;
    border-bottom: 1px solid #F2F3F5 !important;
    
}


#settings {
    overflow-y: scroll !important;
}


#settings::-webkit-scrollbar{

    width:2px !important;

}

.settings-content-container{
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    padding-left: 22px !important;
    padding-top: 5px !important ;
    padding-bottom: 5px !important;
    cursor: pointer;
    margin-bottom: 13px !important;
}

.settings-content-container:hover{

    background-color: whitesmoke !important;


}

#settings::-webkit-scrollbar-thumb{
    background-color: #FFFFFF !important;
    border-radius: 10px !important;
}


#settings::-webkit-scrollbar-track{
    background-color: #FFFFFF !important;
}



.person-icon:hover{
    color: #008ad3 !important;
}

#notifications{
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif !important;
    overflow-y: scroll !important;
}

#notifications::-webkit-scrollbar{
    width: 2px !important;
}

#notifications::-webkit-scrollbar-track{
    background-color: #FFFFFF !important;
}

#notifications::-webkit-scrollbar-thumb{
    background-color: #008ad3 !important;
    border-radius: 10px !important;
}

.notification-content{
    background-color: "white" !important;
   
}

.notification-message{
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif !important;

}

.notification-content:hover{
    background: whitesmoke !important;
}



#icons-layout{
    width: 7em !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    margin-right: 10em !important;
}



#notification-icon{
    color: black !important;
}



#notification-icon:hover{
    color: #008ad3 !important;
}


@media (max-width:420px) {
    .header-layout{
        justify-content: space-between !important;
        padding-left: 1.5em !important;
    }
    #icons-layout{
        margin-right: 20px !important;
    }

    .search-bar{
        display: none !important;
    }
}