.header-layout{
    height: 9.5vh !important;
    background-color: #FFFFFF !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding-left: 2em !important;
    border-bottom: 1px solid #F2F3F5 !important;
    
}

.notifications-title{
    font-family: inherit !important;
}



#notifications{
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif !important;
}

.notification-content{
    background-color: "white" !important;
   
}

.notification-message{
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif !important;

}

.notification-content:hover{
    background: whitesmoke !important;
}



#icons-layout{
    width: 7em !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    margin-right: 10em !important;
}



#notification-icon{
    color: black !important;
}



#notification-icon:hover{
    color: #008ad3 !important;
}


@media (max-width:420px) {
    .header-layout{
        justify-content: space-between !important;
        padding-left: 1.5em !important;
    }
    #icons-layout{
        margin-right: 20px !important;
    }

    .search-bar{
        display: none !important;
    }
}